@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Noto Sans', sans-serif;
    transition-duration: 300ms;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Bungee', cursive;
}

h2,
input {
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'JetBrains Mono', monospace;
    font-weight: 600;
}

h3 {
    font-family: 'JetBrains Mono', monospace;
}

b {
    font-weight: 600;
}
