@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-family: 'Bungee', cursive;
}

h2,
input {
    font-family: 'Orbitron', sans-serif;
}
